#chalk-board {
    font-family: MrChalk;
    font-size: 3mm;
    font-weight: normal;
    background-color: #020800;
    color: white;
    position: absolute;
}

.player-scores {
    vertical-align: top;
    text-align: center;
}

.top-chalk-line {
    border-top: 1px solid white;
}

.right-chalk-line {
    border-right: 1px solid white;
}

@media (max-width: 767px) {
    #chalk-board {
        font-size: 2mm;
    }
}

@media (max-width: 480px) {
    #chalk-board {
        font-size: 2mm;
    }
}

@media (max-width: 320px) {
    #chalk-board {
        font-size: 1mm;
    }
}
