#menu {
    font-family: Leah;
    font-weight: bold;
    position: absolute;
    background-image: url('../img/post-it.png');
    background-size: 100% 100%;
    text-align: center;
    font-size: 5mm;
}

#menu-text-space {
    width: 0px;
    height: 22%;
}

#menu-button {
    padding: 7.5px;

}


@media (max-width: 767px) {
    #menu {
        font-size: 4mm;
    }
}

@media (max-width: 480px) {
    #menu {
        font-size: 4mm;
    }
}

@media (max-width: 320px) {
    #menu {
        font-size: 3mm;
    }
}
